.button {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
  font-family: 'Roboto';
  border-radius: 100px;
  box-sizing: border-box;
  padding: 0;
  border: none;
}

.button__submit {
  color: #FFFFFF;
  background-color: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  cursor: pointer;
  transition: background-color .5s linear;
}

.button__submit:hover {
  background-color: #347EFF;
}

.button__submit:active {
  background-color: #2A65CC;
}

.button__submit_place_login-register {
  width: 358px;
  height: 64px;
  margin-top: 13px;
}

.button__submit_place_search {
  width: 168px;
  height: 64px;
}

.button__header {
  width: 176px;
  height: 48px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.button__cards-list {
  width: 288px;
  height: 64px;
  color: #1A1B22;
  background-color: #FFFFFF;
}