.form {
  display: flex;
  flex-direction: column;
}

.form__name {
  font-family: 'Roboto';
}

.form__name_place_login-register {
  margin: 34px auto 22px;
  width: 358px;
  color: #1A1B22;
  font-size: 24px;
  line-height: 1.15;
  font-weight: 900;
}

.form__name_place_search {
  margin: 32px auto 64px;
  padding-right: 63px;
  width: 608px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  box-sizing: border-box;
}

.form__fieldset {
  margin: 0 auto;
  padding: 0;
  border: none;
}

.form__fieldset_place_login-register {

}

.form__fieldset_place_search {
  display: flex;
  flex-direction: row;
  position: relative;
}

@media screen and (max-width: 970px) {
  .form__name_place_search {
    margin: 16px auto 48px;
    padding-right: 0;
    width: 448px;
  }
}