.popup-link {
  display: flex;
  flex-direction: row;
  font-family: 'Inter';
}

.popup-link_place_login-register {
  margin: 16px auto 28px;
}

.popup-link_place_info-tooltip {
  margin: 14px 0 51px 32px;

}

.popup-link__text {
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  color: #000000;
}