.search-form {
  max-width: 1440px;
  margin: 0 auto;
}

.search-form__title {
  margin: 80px auto 0;
  width: 608px;
  color: #FFFFFF;
  font-family: 'Roboto Slab';
  font-size: 60px;
  line-height: 64px;
  font-weight: 400;
}