.preloader {
  margin: 0 auto;
  padding: 80px 0;
  max-width: 1440px;
  background-color: #F5F6F7;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  display: none;
  opacity: 0;
  transition: visibility 1s, opacity 0.5s linear;
}

.preloader_opened {
  visibility: visible;
  opacity: 1;
  display: flex;
}

.preloader__elements {
  width: 74px;
  height: 74px;
  position: relative;
  overflow: hidden;
}

.preloader__circle {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;

	animation: spin .75s infinite linear;
}

.preloader__text {
  margin: 24px 0 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Roboto';
  color: #B6BCBF;
}

@keyframes spin {
	100% {
		transform: rotate(-360deg);
	}
}