.header-elements {

}

.header-elements_page_main {
  background-position: top;
  background-repeat: no-repeat;
  height: 576px;
  background-image: url(../../images/searchformbg.png);
}

.header-elements_page_saved-news {
  background-color: #FFFFFF;
}

.header {
  max-width: 1440px;
  height: 80px;
  margin: 0 auto;
  padding: 0 104px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

.header__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__menu-list {
  margin-left: 32px;
}

.header__hide-link {
  display: none;
}

.header__logOutIcon {
  vertical-align: top;
}

@media screen and (max-width: 970px) {
  .header {
    height: 66px;
    padding: 0 40px;
  }

  .header-elements_page_main {
    height: 400px;
  }

  .header__menu-list {
    margin-left: 16px;
  }
}

@media screen and (max-width: 768px) {
  .header-elements_page_main {
    background-image: url(../../images/searchformbg_tablet.png);
  }
}