.input__name {
  display: flex;
  flex-direction: column;
}

.input__name_place_login-register {
  height: 64px;
  color: #2F71E5;
  font-size: 12px;
  line-height: 1.25;
  font-weight: 400;
  font-family: 'Inter';
  margin-bottom: 13px;
}

.input__name_place_search {

}

.input__field {
  padding: 0;
  box-sizing: border-box;
  border: none;
}

.input__field_place_login-register {
  width: 358px;
  height: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  color: #000000;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-family: 'Inter';
  margin-top: 10px;
  margin-bottom: 3px;
}

.input__field_place_search {
  width: 608px;
  height: 64px;
  color: #1A1B22;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-family: 'Roboto';
  padding-left: 24px;
  padding-right: 180px;
  border: 1px solid #D1D2D6;
  border-radius: 100px;
}

.input__field-error {
  color: #FF0000;
  font-size: 12px;
  line-height: 1.25;
  font-weight: 400;
  font-family: 'Inter';
}

.input__field-error_hide {
  display: none;
  visibility: hidden;
}

@media screen and (max-width: 970px) {
  .input__field_place_search {
    width: 448px;
    height: 56px;
  }
}